nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
nav h1 {
  text-align: center;
}

.container {
  text-align: center;
}

.link_button {
  margin-top: 5px;
  padding: 0.7rem 3rem;
  border: none;
  border-radius: 15px;
  color: #212121;
  background-color: #ffffff;
  font-weight: 1000;
  font-size: 12 px;
  cursor: pointer;
  transition: all 250ms;
}
.link_button:hover{
  transform: scale(1.1);
}

.img_movie {
  -webkit-mask-image: linear-gradient(to right, transparent 1%, black 100%);
  width: 30vw;
  margin: 2vh;
  float: right;
}

.movie-desc {
  text-align: justify;
}
.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30%;
}
.descricao h4 {
  font-size: 24px;
}
.descricao p {
  text-indent: 30px;
}